@model EFMVC.Web.ViewModels.UserProfileFormModel
@{
    ViewBag.Title = "Create";
}
<div class="row">

    @using (Html.BeginForm("Save", "Profile"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>