@model EFMVC.Web.ViewModels.UserProfileProductsServiceFormModel
@{
    ViewBag.Title = "Create";
}
<div class="row">
    @using (Html.BeginForm("SaveProductsServices", "Profile"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEditProductsServices", Model)

        <p>
            <input type="submit" value="Submit" class="font12" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>