<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add connectionString="Data Source=SQL5025.Smarterasp.net;Database=DB_99B566_adtones;User ID=DB_99B566_adtones_admin;Password=Pa55w0rd!" name="EFMVCDataContex" providerName="System.Data.SqlClient" />-->
    <!--<add name="EFMVCDataContex" connectionString="Data Source=WIN-BP8QH08M981\MSSQLSERVER2012;Initial Catalog=Arthar;User ID=sa;Password=This@admin08;" providerName="System.Data.SqlClient" />-->
    <add name="EFMVCDataContex" connectionString="Data Source=ZWT053\SQLEXPRESS2012;Initial Catalog=Arthar;User ID=sa;Password=this.admin;" providerName="System.Data.SqlClient" />
    <!--<add name="ArtharEntities" connectionString="metadata=res://*/ArtharModel.csdl|res://*/ArtharModel.ssdl|res://*/ArtharModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZWT047\SQLEXPRESS2012;initial catalog=Arthar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ArtharEntities" connectionString="metadata=res://*/ArtharModel.csdl|res://*/ArtharModel.ssdl|res://*/ArtharModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-BP8QH08M981\MSSQLSERVER2012;initial catalog=Arthar;persist security info=True;user id=sa;password=This@admin08;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ArtharEntities" connectionString="metadata=res://*/ArtharModel.csdl|res://*/ArtharModel.ssdl|res://*/ArtharModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5025.Smarterasp.net;initial catalog=DB_99B566_adtones;persist security info=True;user id=DB_99B566_adtones_admin;password=Pa55w0rd!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ArtharEntities" connectionString="metadata=res://*/ArtharEntities.csdl|res://*/ArtharEntities.ssdl|res://*/ArtharEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-BP8QH08M981\MSSQLSERVER2012;initial catalog=Arthar;user id=sa;password=This@admin08;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ArtharEntities" connectionString="metadata=res://*/ArtharEntities.csdl|res://*/ArtharEntities.ssdl|res://*/ArtharEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZWT053\SQLEXPRESS2012;initial catalog=Arthar;user id=sa;password=this.admin;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>