@using EFMVC.Web.Areas.UsersAdmin.Models;
@model IList<UserResult>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-usermanagement">
        <thead>
            <tr>

                <th>Email</th>
                <th>MSISDN</th>
                <th>Name</th>
                <th>Role</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
