@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns large-centered">
        <h5>System Admin</h5>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div class="panel">
            <h6>Configuration</h6>
            
            <div class="clr10"></div>
            
            <div class="row">
                
                <div class="large-4 columns">
                    View
                </div>

                <div class="large-4 columns">
                    Add
                </div>
                
                <div class="large-4 columns">
                    Edit
                </div>
                
            </div>

        </div>

    </div>
</div>
