<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-audit">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Start Date/Time</th>
                <th>End Date/Time</th>
                <th>Length of Play(in seconds)</th>
                <th>Ad name</th>
                <th>Play Cost</th>
                <th>SMS</th>
                <th>SMS Cost</th>
                <th>Email</th>
                <th>Email Cost</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody/>
    </table>
</div>