@model EFMVC.Web.ViewModels.UserProfileTvFormModel
@{
    ViewBag.Title = "Create";
}
<div class="row">
    @using (Html.BeginForm("SaveTv", "Profile"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Partial("_CreateOrEditTv", Model)

        <p>
            <input type="submit" value="Submit" class="font12" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>