@using EFMVC.Web.Mailer;
@model SendEmailModel

<table width="580" border="0" cellpadding="5" cellspacing="0">

    <tr>
        <td>
            Dear @Model.Fname,

        </td>
    </tr>
    <tr>
        <td>
            Thank you for the campaign payment, please find attached your invoice.
        </td>

    </tr>
    <tr>
        <td>
            Thank you for trusting us with your campaign.
        </td>
    </tr>
          
    <tr>
        <td>
            Sincerely,
        </td>
    </tr>
    <tr>
        <td>
            Adtones Team<br />
            support@adtones.com
        </td>
    </tr>
</table>
