@using EFMVC.Web.Mailer;
@model SendEmailModel

<table width="580" border="0" cellpadding="5" cellspacing="0">

    <tr>
        <td>
            Dear @Model.Fname,

        </td>
    </tr>
    <tr>
        <td>
            Your invoice is attached.Please remit payment at your earliest convenience.
        </td>

    </tr>
    <tr>
        <td>
            Thank you for your business-we appreciate it very much.
        </td>
    </tr>
          
    <tr>
        <td>
            Sincerely,
        </td>
    </tr>
    <tr>
        <td>
           Adtones Team
        </td>
    </tr>
</table>
