@model EFMVC.Web.ViewModels.CampaignProfileInternetFormModel
@{
    ViewBag.Title = "Internet";
}
<div class="row">
    @using (Html.BeginForm("SaveInternet", "Campaign"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEditInternet", Model)

        <p>
            <input type="submit" value="Submit" class="font12" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>