<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="EFMVCDataContex" connectionString="Data Source=ZWT047\SQLEXPRESS2012;Initial Catalog=Arthar;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
    <add name="ArtharEntities" connectionString="metadata=res://*/EF.ArtharModel.csdl|res://*/EF.ArtharModel.ssdl|res://*/EF.ArtharModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZWT047\SQLEXPRESS2012;initial catalog=Arthar;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="EFMVCDataContex" connectionString="Data Source=ZWT053\SQLEXPRESS2012;Initial Catalog=Arthar_Test1;user id=sa;password=this.admin;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="EFMVCDataContex" connectionString="Data Source=ZWT057\SQLEXPRESS2012;Initial Catalog=Arthar;User ID=sa;Password=this.admin;" providerName="System.Data.SqlClient" />-->
    <!--<add name="EFMVCDataContex" connectionString="Data Source=ZWT054\SQLEXPRESS17;Initial Catalog=Arthar;User ID=sa;Password=this.admin;" providerName="System.Data.SqlClient" />-->
    <!--<add name="EFMVCDataContex" connectionString="Data Source=ZWT091\SQLEXPRESS2017;Initial Catalog=Arthar;User ID=sa;Password=this.admin;" providerName="System.Data.SqlClient" />-->
    <add name="EFMVCDataContex" connectionString="Data Source=ZWT048\SQLEXPRESS2017;Initial Catalog=Arthar_KenyaDemo;User ID=sa;Password=this.admin;" providerName="System.Data.SqlClient" />
    <!--<add name="EFMVCDataContex" connectionString="Data Source=ZWT056\SQLEXPRESS2017;Initial Catalog=Arther;User ID=sa;Password=this.admin;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ArtharEntities" connectionString="metadata=res://*/EF.ArtharModel.csdl|res://*/EF.ArtharModel.ssdl|res://*/EF.ArtharModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZWT053\SQLEXPRESS2012;initial catalog=Arthar_Test1;user id=sa;password=this.admin;connect timeout=60;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ArtharEntities" connectionString="metadata=res://*/ArtharEntities.csdl|res://*/ArtharEntities.ssdl|res://*/ArtharEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZWT053\SQLEXPRESS2012;initial catalog=Arthar;user id=sa;password=this.admin;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>