
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessBucket</title>
</head>
<body>
    <div> 
        Success Process BucketAudit
    </div>
</body>
</html>
