<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=WIN-BP8QH08M981\MSSQLSERVER2012;Initial Catalog=Arthar;User ID=sa;Password=This@admin08" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=WIN-BP8QH08M981\MSSQLSERVER2012;Initial Catalog=Arthar;User ID=sa;Password=This@admin08" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=ZWT057\SQLEXPRESS2012;Initial Catalog=Arthar;User ID=sa;Password=this.admin" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=ZWT057\SQLEXPRESS2012;Initial Catalog=Arthar;User ID=sa;Password=this.admin" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=LAPTOP-JFFPI69F\SQLEXPRESS2017;Initial Catalog=adtones;User ID=sa;Password=Passw0rd!" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=LAPTOP-JFFPI69F\SQLEXPRESS2017;Initial Catalog=adtones;User ID=sa;Password=Passw0rd!" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=217.160.184.168;Initial Catalog=Arthar;User ID=sa;Password=z_nTJG@5TB" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=217.160.184.168;Initial Catalog=Arthar;User ID=sa;Password=z_nTJG@5TB" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=217.160.184.168;Initial Catalog=Arthar;User ID=sa;Password=z_nTJG@5TB" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=217.160.184.168;Initial Catalog=Arthar;User ID=sa;Password=z_nTJG@5TB" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=ADTONES-04\SQLEXPRESS2012;Initial Catalog=AdtoneTest;User ID=sa;Password=This@admin08" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=ADTONES-04\SQLEXPRESS2012;Initial Catalog=AdtoneTest;User ID=sa;Password=This@admin08" providerName="System.Data.SqlClient" />-->
    <!-- <add name="DefaultConnection" connectionString="Data Source=S20494255\SQLEXPRESS2014;Initial Catalog=ArtharCountry;User ID=sa;Password=z_nTJG@5TB" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=S20494255\SQLEXPRESS2014;Initial Catalog=ArtharCountry;User ID=sa;Password=z_nTJG@5TB" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=VM5CAF0C1\SQLEXPRESS2017;Initial Catalog=Arthar;User ID=sa;Password=Pa55w0rd!" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=VM5CAF0C1\SQLEXPRESS2017;Initial Catalog=Arthar;User ID=sa;Password=Pa55w0rd!" providerName="System.Data.SqlClient" />-->
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=this.admin;persist security info=True;database=adtone25sep2017timetest&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=188.166.171.194;user id=zeal;password=150192;port=3306;persist security info=True;database=arthar_addcache&quot;" providerName="System.Data.EntityClient" />-->
    <!--ADTO 46.101.4-->
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=46.101.4.123;user id=zealousweb;password=adtonespassword;port=3306;persist security info=True;database=arthar_addcache&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=138.68.177.47;user id=zealousweb;password=adtonespassword;port=3306;persist security info=True;database=arthar_addcache&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=Adtones;password=B8J*a:ky7^;persist security info=True;database=adtones&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=Acer-i7;Initial Catalog=Arthar;User ID=sa;Password=Liverpool19" providerName="System.Data.SqlClient" />
    <add name="EFMVCDataContex" connectionString="Data Source=Acer-i7;Initial Catalog=Arthar;User ID=sa;Password=Liverpool19" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="adminURL" value="Admin/UserManagement/Index" />
    <add key="userURL" value="Users/AccountOverview/Index" />
    <add key="userAdminURL" value="UsersAdmin/UserAccount/Index" />
    <add key="advertAdminURL" value="AdvertAdmin/Ticket/Index" />
    <add key="operatorAdmin" value="OperatorAdmin/Ticket/Index" />
    <add key="profileAdmin" value="ProfileAdmin/UserCampaign/Index" />
    <add key="userLoginURL" value="Users/AccountOverview/Index" />
    <add key="paypalmerchantemail" value="hello_api1.adtones.com" />
    <add key="paypalmerchantpassword" value="PG2XWE2JN9KXEGV8" />
    <add key="paypalsecurity" value="ACZmYIoP-3NZgs4Nnc03LIkA-y4iAulVKzMgIErjWOIM7tKa32SNpjou" />
    <!--<add key="paypalmerchantemail" value="payment_api2.adtones.com" />
    <add key="paypalmerchantpassword" value="FXQWQ35Y7TXVSNND" />
    <add key="paypalsecurity" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AHwlWR-qW-9lHbGkF7dKlF3YfFR9" />-->
    <add key="paypalcurrency" value="EUR" />
    <add key="paypalcountry" value="UK" />
    <add key="paypalmode" value="sandbox" />
    <add key="paypalendpoint" value="https://api-3t.sandbox.paypal.com/nvp" />
    <add key="siteAddress" value="http://localhost:9712/" />
    <add key="downloadtestfile" value="http://localhost:9712/downloadtest/img-01.jpg" />
    <add key="adtonelogo" value="http://adtones.xyz/Images/adtoneslogotransparant.png" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SmsVerificationUsername" value="minuco" />
    <add key="SmsVerificationPassword" value="M1nupa55w0rd" />
    <add key="SmsVerificationOriginator" value="442033225501" />
    <add key="SmsVerificationMessage" value="Thank%20you%20for%20registering%20with%20Arthar.%20Please%20respond%20to%20this%20message%20to%20verify%20your%20account." />
    <add key="SmsVerificationUrl" value="https://gw.aql.com/sms/sms_gw.php?username={0}&amp;password={1}&amp;destination={2}&amp;originator={3}&amp;message={4}" />
    <add key="SmsVerificationInboundLog" value="D:\Users\Darren\Documents\Work\Minuco\Client Sites\Arthar\EFMVC_V1.01\EFMVC.Web\sms_log.txt" />
    <add key="AdvertiserVerificationUrl" value="http://localhost:9712/AdvertRegister/VerifyAdvertiser" />
    <add key="UsersVerificationUrl" value="http://localhost:9712/Users/Login/VerifyUser" />
    <add key="AdvertiserVerificationEmailTemplate" value="~/EmailTemplates/RegisterAdvertiserEmailTemplate.txt" />
    <add key="GravityAdvertiserVerificationEmailTemplate" value="~/EmailTemplates/GravityRegisterAdvertiserEmailTemplate.txt" />
    <add key="UsersVerificationEmailTemplate" value="~/EmailTemplates/UsersVerificationEmailTemplate.txt" />
    <add key="AdminResetPassword" value="http://localhost:9712/Admin/Login/ResetPassword" />
    <add key="ResetPassword" value="http://localhost:9712/AdvertRegister/ResetPassword" />
    <add key="ResetPasswordEmailTemplate" value="~/EmailTemplates/ResetPasswordEmailTemplate.txt" />
    <add key="ChangeEmailAddressTemplate" value="~/EmailTemplates/ChangeEmail.txt" />
    <add key="ChangeOldEmailAddressTemplate" value="~/EmailTemplates/OldChangeEmail.txt" />
    <add key="ChangePassowordTemplate" value="~/EmailTemplates/ChangePassoword.txt" />
    <add key="AdminTemplete" value="~/EmailTemplates/AdminTemplete.txt" />
    <add key="AdminTempleteVerification" value="~/EmailTemplates/AdminTempleteVerification.txt" />
    <add key="ReplyTicketTemplete" value="~/EmailTemplates/ReplyTicketTemplete.txt" />
    <add key="UsersResendVerificationEmailTemplate" value="~/EmailTemplates/UsersResendVerificationEmailTemplate.txt" />
    <add key="USSDUsersEmailTemplate" value="~/EmailTemplates/USSDUsersEmailTemplate.txt" />
    <add key="UsersResendVerificationUrl" value="http://localhost:9712/Users/Login/VerifyRegisterUser" />
    <add key="CampaignEmailTemplate" value="~/EmailTemplates/CampaignEmailTemplate.txt" />
    <add key="AdvertEmailTemplate" value="~/EmailTemplates/AdvertEmailTemplate.txt" />
    <add key="AdvertEmailTemplateForAdvertAdmin" value="~/EmailTemplates/AdvertEmailTemplateForAdvertAdmin.txt" />
    <add key="AdvertEmailTemplateForOperatorAdmin" value="~/EmailTemplates/AdvertEmailTemplateForOperatorAdmin.txt" />
    <add key="AdminUrlForCampaign" value="http://localhost:9712/Admin/Campaign/Index" />
    <add key="AdminUrlForAdvert" value="http://localhost:9712/Admin/UserAdvert/Index" />
    <add key="OperatorAdminRegistrationEmailTemplete" value="~/EmailTemplates/OperatorAdminRegistrationEmailTemplete.txt" />
    <add key="OperatorAdminUrl" value="http://localhost:9712/Admin/Login/Index" />
    <add key="AdvertiserUrlHosts" value="localhost,advertiser.arthar.com,test.arthar.com,adtones.siteproofs.net" />
    <add key="UserUrlHosts" value="localhost,my.arthar.com,adtones.siteproofs.net" />
    <add key="UserUrlHosts" value="localhost,my.arthar.com,adtones.xyz,adtones.siteproofs.net" />
    <!--<add key="SiteEmailAddress" value="info@arthar.com" />-->
    <add key="SiteEmailAddress" value="support@adtones.com" />
    <add key="SiteContactNumber" value="+44 (0) 7711 760 222" />
    <add key="AssignToEmailAddress" value="info@arthar.com" />
    <add key="MplsGuideEmailAddress" value="info@arthar.com" />
    <!--<add key="adminemailaddress" value="ben@adtones.xyz" />-->
    <add key="adminemailaddress" value="testing.chaka@gmail.com" />
    <add key="SMTPEmail" value="support@adtones.com" />
    <add key="SMTPPassword" value="Supp0rtPa55w0rd!" />

    <add key="SmtpServerAddress" value="auth.smtp.1and1.co.uk" />
    <add key="SmtpServerPort" value="587" />
    <add key="EnableEmailSending" value="false" />
    <!--Safaricom Operator Admin-->
    <add key="SafaricomSiteEmailAddress" value="support@adtones.co.ke" />
    <add key="SafaricomSmtpServerAddress" value="mail.adtones.co.ke" />
    <add key="SafaricomSMTPEmail" value="support@adtones.co.ke" />
    <add key="SafaricomSMTPPassword" value="@Pa55w0rd!!" />
    <add key="SafaricomSmtpServerPort" value="587" />
    <add key="SafaricomEnableEmailSending" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="MvcMailer.BaseURL" value="" />
    <add key="Country" value="Kenya" />
    <!--<add key="KenyaConnectionString" value="Data Source=ZWT057\SQLEXPRESS2012;Initial Catalog=Arthar;User ID=sa;Password=this.admin" />-->
    <add key="KenyaConnectionString" value="Data Source=217.160.184.168;Initial Catalog=Arthar;User ID=sa;Password=z_nTJG@5TB" />
    <add key="localserverconnectionstring" value="server=localhost;user id=Adtones;password=B8J*a:ky7^;database=adtones;" />
    <!--<add key="externalserverconnectionstring" value="server=188.166.171.194;user id=zeal;password=150192;database=arthar_addcache" />-->
    <add key="externalserverconnectionstring" value="server=138.68.177.47;user id=zealousweb;password=adtonespassword;database=arthar_addcache_test" />
    <!-- SOAP API Setting -->
    <!--<add key="SoapUIUrl" value="http://10.5.46.46:10040/jboss-net/services/CorpUserManage" />
    <add key="MediaSoapUIUrl" value="http://10.5.46.46:10040/jboss-net/services/ToneProvide" />-->
    <!--OLD SOAP API TOOL URL <add key="SoapUIUrl" value="http://s20494255:8088/mockCorpUserManageSoapBinding" />-->
    <!--OLD SOAP API TOOL URL <add key="MediaSoapUIUrl" value="http://s20494255:8088/mockToneProvideSoapBinding" />-->
    <!--<add key="SoapUIUrl" value="http://localhost:8088/" />
    <add key="MediaSoapUIUrl" value="http://localhost:8089/" />-->
    <add key="SoapUIUrl" value="http://zwt053:8088/mockCorpUserManageSoapBinding" />  
    <add key="MediaSoapUIUrl" value="http://zwt053:8088/mockToneProvideSoapBinding" />
    <add key="PortalAccount" value="adtones" />
    <add key="PortalPassword" value="11111111" />
    <add key="PortalType" value="1" />
    <add key="Role" value="4" />
    <add key="RoleCode" value="1005" />
    <add key="CorpCode" value="1005" />
    <add key="ModuleCode" value="000000" />
    <add key="CorpID" value="440114" />
    <add key="SafricomSoapUrl" value="http://localhost:49548/SoapApi/" />
    <add key="SafricomProjUrl" value="http://172.29.128.103/" />
    <add key="AdtonesTIBCOBinding" value="http://ZWT053:8088/mockAdtonesTIBCOBinding" />
    <add key="AdtonesTIBCOUserName" value="safaricom" />
    <add key="AdtonesTIBCOPassword" value="Pa55w0rd!" />
    <add key="SafaricomOperatorAdminSiteAddress" value="https://adrbt.adtones.com:4443/" />
    <!-- Live Agent -->
    <add key="LiveAgentUrl" value="https://adtones.ladesk.com/api/v3/" />
    <add key="LiveAgentKey" value="ee717cf3b5c1651d43e5e917f2ab6148" />
    <add key="LiveAgentRecipient" value="support@mail.adtones.ladesk.com" />
    <!--<add key="LiveAgentRecipient" value="helpdesk@adtones.com"/>-->
    <!-- ActivExpert SMS  -->
    <add key="ActivExpertSMSUrl" value="http://192.168.1.121:5656/" />
    <!-- SagePay Setting sandbox-->
    <add key="authorization" value="Basic MnI5TlZUR29yWm5tY29GN2RMUnBGeHpOdWs5NFprZ0J1TGRzOVVuYmdQVnRRSTFzOG86UEk1SUowM3ZhMHRibEJrRDlhNzJWTERFQ0RnUTZTTWVYUjVrYUlGZHNmbEc3ckhxU05oZ3h4ZEduRDhQTGpLcEY=" />
    <add key="MerchantSessionKeys" value="https://pi-test.sagepay.com/api/v1/merchant-session-keys/" />
    <add key="CardIdentifiers" value="https://pi-test.sagepay.com/api/v1/card-identifiers/" />
    <add key="Transactions" value="https://pi-test.sagepay.com/api/v1/transactions/" />
    <add key="vendorName" value="adtoneslimited" />
    <add key="sagepaycurrency" value="GBP" />
    <add key="sagepaycountry" value="GB" />
    <add key="transactionType" value="Payment" />
    <!-- SagePay Setting live-->
    <!--<add key="authorization" value="Basic NFFhVVdmSXNzYTRqaU9zdnJ2YTJvTWx2a3lPQndhSVhDYkJpVWR6QzczN3d2R2xubm86SElWU2VrU3MwSEJDWkMyRkV2bk1PcjlkajJQZXdYenQ2Qnp3SlZ6YklNdlVuOHlkQXd0ZmVUR2pTQlJOcmhFdUg=" />
    <add key="MerchantSessionKeys" value="https://pi-live.sagepay.com/api/v1/merchant-session-keys/" />
    <add key="CardIdentifiers" value="https://pi-live.sagepay.com/api/v1/card-identifiers/" />
    <add key="Transactions" value="https://pi-live.sagepay.com/api/v1/transactions/" />
    <add key="vendorName" value="adtoneslimited" />
    <add key="sagepaycurrency" value="GBP" />
    <add key="sagepaycountry" value="GB" />
    <add key="transactionType" value="Payment" />-->
    <!-- Mpesa setting -->
    <add key="ConsumerKey" value="yZfVRtWZi53xMaAQWLkerBMyMRyFgOoX" />
    <add key="ConsumerSecret" value="YvVEkN0OHQVn8SEp" />
    <!--<add key="LNMPassWord" value="bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919" />-->
    <add key="LNMPassWord" value="MTc0Mzc5YmZiMjc5ZjlhYTliZGJjZjE1OGU5N2RkNzFhNDY3Y2QyZTBjODkzMDU5YjEwZjc4ZTZiNzJhZGExZWQyYzkxOTIwMTgxMjEzMTY1ODAw" />
    <add key="TransactionDesc" value="Mpesa sandbox testing" />
    <add key="MpesaAPIUrl" value="https://213.136.72.180:9877/ussd/stkpush" />
    <!-- Expresso Operator -->
    <add key="ExpressoProvisionUrl" value="http://10.71.48.156:7778/api/provision/do" />
    <add key="SessionWarning" value="1" />
    <!--Currency API-->
    <add key="CurrencyUrl" value="http://217.160.184.168:5555/api/currency/convert" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <authentication mode="Forms">
      <forms loginUrl="Landing/Index" defaultUrl="Dashboard/Index" timeout="20" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
    </providers>
  </entityFramework>
  <elmah />
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <smtp from="support@adtones.xyz">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="support@adtones.xyz" password="Supp0rtPa55w0rd!" />
      </smtp>
      <!--<smtp from="register@adtones.xyz">
        <network enableSsl="true" host="Mail.adtones.xyz" port="587" userName="register@adtones.xyz" password="Pa55w0rd!" />
      </smtp>-->
      <!--<smtp from="register@adtones.xyz">
        <network enableSsl="false" host="mail.adtones.xyz" port="25" userName="register@adtones.xyz" password="Pa55w0rd!"/>
      </smtp>-->
      <!-- Method#2: Dump emails to a local directory -->
      <!--
      <smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
      </smtp>
      -->
    </mailSettings>
  </system.net>
  <system.data>
    <!--<DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>-->
  </system.data>
</configuration>