<div class="footer">
    <div class="pull-right">
        
    </div>
    <div class="text-align-center" id="copyright" style="font-family: sans-serif;">
        @*<span>&copy;</span> Adtones @DateTime.Now.Year*@
    </div>
</div>
