@*@model EFMVC.Web.ViewModels.TestModel*@
@*  @{*@
@*    ViewBag.Title = "Create";*@
@*}*@
@*<div class="row">*@
@*    @using (Html.BeginForm("SaveTest", "Campaign"))*@
@*    {*@
@*        @Html.AntiForgeryToken()*@
@*        @Html.ValidationSummary(true)*@
@**@
@*        @Html.Partial("_CreateOrEditTest", Model)*@
@**@
@*        <p>*@
@*            <input type="submit" value="Submit" class="font12" />*@
@*        </p>*@
@*    }*@
@**@
@*    <div>*@
@*        @Html.ActionLink("Back to List", "Index")*@
@*    </div>*@
@*</div>*@
