<div class="row" id="media">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>The best from DM, radio and digital</h1>
        <p class="p-color">The focus of direct marketing, the advantages of radio, and the measured responsiveness of digital</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 features-text wow fadeInLeft">
        <small>adtones</small>
        <h2>Talk directly to customers</h2>
        <p>adtones is a revolutionary new marketing channel. Advertisers get access to a personal, focused moment: The period a caller waits for somebody to pick up the call.</p>
        <p>adtones’ users are mobile, fixed or IP telephony callers pooled from different telecom operators.</p>
        <p><a class="navy-link" href="#about" role="button">Learn more &raquo;</a></p>
        
    </div>
    <div class="col-lg-6 text-right m-t-xs wow zoomIn">
        <img src="~/Images/landing/bestDM.jpg" class="img-responsive" alt="dashboard">
    </div>
    <div class="col-lg-3 features-text text-right wow fadeInRight">
        <small>adtones</small>
        <h2>Track each caller’s interaction</h2>
        <p>Media buyers can target callers;<br />Geographically:  Postcode and geo-location.<br />Demographically: Age, gender, income, education<br />Behaviour: using simplified target group index (TGI) questions. Ad types, likes and dislikes, Activities, Interests, Opinions, Attitudes<br />Usage; type of contract, spend etc.<br />Every play is recorded – length and time, every interaction e.g. SMS and email requests<br />Every cent is fully accountable and traceable.</p>
        <p><a class="navy-link" href="#about" role="button">Learn more &raquo;</a></p>
      
    </div>
</div>