<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll" id="navheader">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll largelogo" style="margin-bottom:5px;" href="#page-top;">
                    <img src='@Url.Content("~/Images/adtones-160-tight-white.png")' />
                </a>
                <a class="navbar-brand page-scroll smalllogo" style="margin-bottom:5px;display:none;" href="#page-top">
                    <img src='@Url.Content("~/Images/adtones-70-tight-white.png")' />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll loginpopupopen" data-toggle="modal" href="#modal-form">Sign in / Sign up</a></li>
                    @*<li><a class="page-scroll" href="#works">How it works</a></li>*@
                    <li><a class="page-scroll" href="#media">ADVERTISERS</a></li>
                    <li><a class="page-scroll" href="#operator">Operators</a></li>
                    @*<li><a class="page-scroll" href="#caller">Caller</a></li>*@
                    <li><a class="page-scroll" href="#about">About</a></li>
                    @*<li><a class="page-scroll" href="http://blog.adtones.xyz/">BLOG</a></li>*@
                    @*<li><a class="page-scroll" href="#contact">Contact</a></li>*@
                    @*<li id="home-desktop"><a class="page-scroll" href="#page-top"><i class="fa fa-home" style="font-size:19px!important;"></i></a></li>
                        <li id="home-mobile" style="display:none;"><a class="page-scroll" href="#page-top"><i class="fa fa-home"></i>Home</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="navar-mobile" style="display:none"></div>