<section id="operator" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Operators get new revenue and less churn</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>adtones</small>
                <h2>New revenue stream</h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p><span class="text-blue">adtones</span> opens a completely new revenue stream for the operators by utilising the call connection period to insert an ad in place of the dial tone.</p>
                <p>Operators share the ad income directly with the individual caller making it possible to partly or fully subsidise the caller’s monthly costs.</p>
                <p>Adtones allows operators to generate new business models, reduce churn and attract new customers.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>adtones</small>
                <h2>Callers want it - less churn</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>An adtones pilot in London showed over 90% of young adult mobile users would like to use adtones to reduce the monthly mobile bill by at least 20%.</p>
                <p>Giving customers the same or better service for less cost will increase customer satisfaction and effectively reduce churn.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>adtones</small>
                <h2>Simple to implement</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p><span class="text-blue">adtones</span> provides a fully managed service with standard implementation on-net. The operator can choose an off-net cloud-based solution via secure and encrypted links.</p>
                <p>The Adtones technology is in any case simple to implement. A normal network set up will take a few hours to get up and running.</p>
                <p>Customer on-boarding is designed and managed by the operators’ product and marketing departments. Technically the operator can choose between an embedded solution in the operator’s customer portal or a stand-alone solution. All marketing decisions are made solely by the operator.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>adtones</small>
                <h2>Hacking growth</h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p><span class="text-blue">adtones</span> enables operators to exploit existing network infrastructure and package it to be consumed by advertisers – and callers.</p>
                <p>Operators no longer need to only focus on generating revenue from an increasingly competitive marketplace.</p>
                <p>When using adtones operators gain access to marketing budgets normally closed to operators. Finally operators can get their share of the ad revenue.</p>
            </div>
        </div>
    </div>

</section>