@{
    ViewBag.Title = "RegisterAdvertiserSuccess";
}
@{
    ViewBag.Title = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>adtones | Register</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">ad+</h1>

            </div>
          
            <div class="row">
                <div class="large-12 columns">

                    <h5>Your new account request has been submitted.</h5>

                    <div class="clr10"></div>

                    You will shortly receive an email asking you to verify your email address. You will also be contacted by a member of the Arthar team to discuss your requirements.

                    <div class="clr20"></div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

