<section class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div style="padding-top:30px;">
                <img src='@Url.Content("~/Images/star.png")' />
            </div>
            <h1 style="padding-bottom:5px;"><span style="font-size:33px;font-weight:bold;text-transform:uppercase;letter-spacing:2px;">The media channel revolution</span></h1>
        </div>
    </div>
</section>

<section class="container services" id="cservices">
    <div class="row">
        <div class="col-sm-3">
            <h2>CAPTIVATE</h2>

            <p><span class="text-blue">adtones</span> captivates highly profiled callers without prolonging or impacting the quality of the primary product - the phone call.</p>

        </div>
        <div class="col-sm-3">
            <h2>Focused</h2>

            <p><span class="text-blue">adtones</span> uses a personal focused moment, when waiting for a call to be picked up, to deliver profiled advertising to the caller.</p>

        </div>
        <div class="col-sm-3">
            <h2>Receptive</h2>

            <p><span class="text-blue">adtones</span> invites callers to sign up and make a profile of likes and dislikes. This ensures the ad is relevant and making the caller more receptive than on other channels.</p>

        </div>
        <div class="col-sm-3">
            <h2>Rewarding</h2>

            <p><span class="text-blue">adtones</span> forwards almost all of the ad income giving operators a new revenue and callers their monthly bill partly or fully paid.</p>

        </div>
    </div>
</section>