<section id="works" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>How it works</h1>
          
            <p class="p-color">The call is the primary product. Call quality is the same with adtones.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 features-text wow fadeInLeft">
            <small>adtones</small>
            <h2>Just like normal!</h2>
            <ol style="color: #666666;list-style: decimal !important;padding-left:11px !important;">
                <li class="linespace">Make a phone call - just like normal.</li>
                <li class="linespace">Instead of a dial tone the caller hears an ad.</li>
                <li style="line-height: 20px;">The call is not prolonged: The ad stops when the call is picked up – just like normal.</li>
                <li class="linespace">The caller is credited immediately via the operator.</li>
            </ol>

            <p>The caller’s individual profile with likes and dislikes – e.g. likes music and movies and dislikes diapers and detergents – will increase the price of the ad creating a bigger income for the caller.</p>
           
        </div>
        <div class="col-lg-8 features-text text-right wow fadeInRight">
            <img src="~/Images/landing/infopic.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
    <!-- Digital marketing Partial for render digital marketing content -->
    @Html.Partial("_DigitalMarketingContent")
</section>