<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">
        <li class="cd-bg-video selected">
            <div class="cd-full-width carousel-caption">
                <h1>
                    <span>Callers earn money</span>
                    <span>when making a phone call</span>
                </h1>
                <p style="color:#fff;">Subsidised monthly bill, satisfied customers and less churn</p>
                <a href="#cservices" class="page-scroll btn btn-lg btn-blue mobilehow">How it works</a>
            </div>
            <div class="cd-bg-video-wrapper" data-video="../Video/3222748">
                <!-- video element will be loaded using jQuery -->
            </div>
        </li>
        <li class="cd-bg-video">
            <div class="cd-full-width carousel-caption">
                <h1>
                    <span>COMBINE THE BEST FROM DIRECT MARKETING,</span>
                    <span>RADIO AND DIGITAL</span>
                </h1>
                <p style="color:#fff;">adtones is a revolutionary new marketing channel</p>
                <a href="#cservices" class="page-scroll btn btn-lg btn-blue mobilehow">How it works</a>
            </div>
            <div class="cd-bg-video-wrapper" data-video="../Video/13215416">
                <!-- video element will be loaded using jQuery -->
            </div>
        </li>
        <li class="cd-bg-video">
            <div class="cd-full-width carousel-caption">
                <h1 @*style="color:#282828 !important;"*@>
                    <span>Operators get a</span>
                    <span>new revenue stream</span>
                </h1>
                <p style="color:#fff;" @*style="color:#282828 !important;"*@>Giving telecoms a fair share of ad income</p>
                <a href="#cservices" class="page-scroll btn btn-lg btn-blue mobilehow">How it works</a>
            </div>
            <div class="cd-bg-video-wrapper" data-video="../Video/5808230">
                <!-- video element will be loaded using jQuery -->
            </div>
        </li>
        <li class="cd-bg-video">
            <div class="cd-full-width carousel-caption">
                <h1>
                    <span>Traceable to every second</span>
                    <span>Accountable to every cent</span>
                </h1>
                <p style="color:#fff;">Total transparency for advertisers, operators and callers</p>
                <a href="#cservices" class="page-scroll btn btn-lg btn-blue mobilehow">How it works</a>
            </div>
            <div class="cd-bg-video-wrapper" data-video="../Video/9245606">
                <!-- video element will be loaded using jQuery -->
            </div>
        </li>
        <li class="cd-bg-video">
            <div class="cd-full-width carousel-caption">
                <h1>
                    <span>GET DIRECT ACCESS TO CUSTOMERS</span>
                    <span>EVERYWHERE</span>
                </h1>
                <p style="color:#fff;">adtones gives access to customers in cities and savannah</p>
                <a href="#cservices" class="page-scroll btn btn-lg btn-blue mobilehow">How it works</a>
            </div>
            <div class="cd-bg-video-wrapper" data-video="../Video/9845778">
                <!-- video element will be loaded using jQuery -->
            </div>
        </li>

    </ul> <!-- .cd-hero-slider -->
</section>