<section class="team">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-top:5px;">

                <h1>Meet the founders</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow" id="about-mobile" style="display:none;">
                <div class="team-member">
                    <div class="team-member">

                        <div class="col-lg-12 text-center">
                            <a href="mailto:hello@adtones.xyz?subject=hello from the adtones website" class="btn btn-primary">Say Hello!</a>
                            <p class="m-t-sm">
                                Follow us on
                            </p>
                            <ul class="list-inline social-icon">
                                <li>
                                    <a href="https://twitter.com/adtones" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/adtones" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/adtones" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="~/Images/landing/avatar2.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">S<span style="font-size:10px;">&Oslash;</span>ren Gravesen-Hvass</span><a href="https://linkedin.com/in/gravesen" target="_blank"><i class="fa fa-linkedin i-social"></i></a></h4>
                    <p>S<span style="font-size:10px;">&Oslash;</span>ren has a lot of experience from the IT and telecom industry, most of the time growing companies together with brilliant people.</p>
                    <p>A curious and outspoken lover of life and technology, always asking: "Why not?", he has a habit of hacking life and tech trying to make both just that little bit better.</p>

                </div>
            </div>

            <div class="col-sm-4 wow" id="about-desktop">
                <div class="team-member" style="margin-top:170px;">

                    <div class="col-lg-12 text-center">
                        <a href="mailto:hello@adtones.xyz?subject=hello from the adtones website" class="btn btn-primary">Say Hello!</a>
                        <p class="m-t-sm">
                            Follow us on
                        </p>
                        <ul class="list-inline social-icon">
                            <li>
                                <a href="https://twitter.com/adtones" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/adtones" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/adtones" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="~/Images/landing/avatar1.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">Benjamin Lynch</span><a href="#"><i class="fa fa-linkedin i-social"></i></a></h4>
                    <p>Ben has been building new ventures in advertising, telecommunications and software for many, many years using bleeding edge tech innovation.</p>
                    <p>He loves old houses (preferably in a desperate state of repair), old cars, large families and warm weather.</p>

                </div>
            </div>
        </div>

    </div>
</section>