@using EFMVC.Web.Helpers
<div class="row">

    <div class="large-12 columns large-centered">      
        @Html.Partial(SiteHelper.Instance.IsAdvertiserUrl ? "_AdvertiserHomepageContent" : "_AdvertiserHomepageContent")
        @*        @Html.Partial(SiteHelper.Instance.IsAdvertiserUrl ? "_AdvertiserHomepageContent" : "_UserHomepageContent")*@
    </div>
</div>