<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EFMVC.MediaTransfer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EFMVC.MediaTransfer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--<add key="ftpRoot" value="/" />
    <add key="ftpUserName" value="artharftp" />
    <add key="ftpPassword" value="artharftp" />
    <add key="ftpHost" value="88.208.208.206" />
      <add key="localRoot" value="D:\Sites.Testing\Arthar\Media" />
    -->
    <add key="ftpRoot" value="/livemedia" />
    <add key="ftpUserName" value="jigar-patel" />
    <add key="ftpPassword" value="Pa55w0rd!" />
    <add key="ftpHost" value="ftp.Smarterasp.net" />
    <add key="localRoot" value="E:\Projects\Ben\EFMVC_V1.01\EFMVC.Web\Media" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppenderBySize" type="log4net.Appender.RollingFileAppender">
      <file value="C:\ArtharServiceInstall\ArtharProvisioningServiceTransfer.log" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="INFO" />
      </evaluator>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppenderBySize" />
      <!--appender-ref ref="HttpAppender"/-->
    </root>
  </log4net>
  <applicationSettings>
    <EFMVC.MediaTransfer.Settings1>
      <setting name="ftpRoot" serializeAs="String">
        <value>/usr/local/arthar/adds</value>
      </setting>
      <setting name="ftpUserName" serializeAs="String">
        <value>provisioning</value>
      </setting>
      <setting name="ftpPassword" serializeAs="String">
        <value>adtonespassword</value>
      </setting>
    </EFMVC.MediaTransfer.Settings1>
  </applicationSettings>
  <userSettings>
    <EFMVC.MediaTransfer.Settings1>
      <setting name="ftpHost" serializeAs="String">
        <value>46.101.4.123</value>
      </setting>
      <setting name="localRoot" serializeAs="String">
        <value>C:\inetpub\wwwroot\Media</value>
      </setting>
    </EFMVC.MediaTransfer.Settings1>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>