@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeIn">

    <div class="p-w-md m-t-sm">
      <h1>Welcome to Admin Dashboard</h1>


    </div>


</div>
