@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>adtones | 404 Error</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1 style="color:#676a6c">404</h1>
        <h3 class="font-bold" style="color:#676a6c">Page Not Found</h3>

        <div class="error-desc">
            Unfortunately, the page you've requested cannot be displayed
            <br />
            It appears that you've lost your way either through an outdated link <br />or a typo on the page you were trying to reach.
          
        </div>
    </div>


</body>

</html>


