@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="middle-box text-center animated fadeInDown">
    <h1 style="color:#676a6c">404</h1>
    <h3 class="font-bold" style="color:#676a6c">Page Not Found</h3>

    <div class="error-desc">
        Unfortunately, the page you've requested cannot be displayed
        <br />
        It appears that you've lost your way either through an outdated link <br />or a typo on the page you were trying to reach.

    </div>
</div>