@using EFMVC.Web.Areas.Users.Models;
@model UserProfileResult

<div class="row">
    <div class="wrapper-content animated fadeInRight">
        @Html.Partial("_PersonalInfo", Model.userProfileModel)
    </div>
</div>
