@{
    ViewBag.Title = "Error500";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">Internal Server Error</h3>
    <div class="error-desc">
        Oops!Something went wrong.<br />
        You can go back to main page: <br /><a href="@Url.Action("Index", "UserManagement",new {area="Admin" })" class="btn btn-blue m-t">Dashboard</a>
    </div>
</div>