<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="arthar_addcache_provisioningEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=88.208.208.206;user id=arthar;password=4e5UQede;persist security info=True;database=arthar_addcache_provisioning&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="arthar_addcache_provisioningEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=88.208.208.206;user id=arthar;password=4e5UQede;persist security info=True;database=arthar_addcache_provisioning&quot;" providerName="System.Data.EntityClient" />
    <add name="arthar_addcache_provisioningEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=88.208.208.206;user id=arthar;password=4e5UQede;persist security info=True;database=arthar_addcache_provisioning&quot;" providerName="System.Data.EntityClient" />
    <add name="arthar_addcache_provisioningEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=88.208.208.206;user id=arthar;password=4e5UQede;persist security info=True;database=arthar_addcache_provisioning&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=88.208.208.206;user id=arthar;password=4e5UQede;persist security info=True;database=arthar_addcache_provisioning&quot;" providerName="System.Data.EntityClient" />-->
   
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=this.admin;persist security info=True;database=adtone25sep2017timetest&quot;" providerName="System.Data.EntityClient" />-->    
    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=188.166.171.194;user id=zeal;password=150192;port=3306;persist security info=True;database=arthar_addcache&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=46.101.4.123;user id=zealousweb;password=adtonespassword;port=3306;persist security info=True;database=arthar_addcache&quot;" providerName="System.Data.EntityClient" />-->
    
    <add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=Adtones;password=B8J*a:ky7^;persist security info=True;database=adtones&quot;" providerName="System.Data.EntityClient" />
   <!--<add name="arthar_addcache_provisioningEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=138.68.177.47;user id=zealousweb;password=adtonespassword;port=3306;persist security info=True;database=arthar_addcache&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--<system.Web>
    <httpRuntime executionTimeout="3600" />
  </system.Web>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>